<div>
    <md-content style="height: 600px;">
        <section>
            <md-subheader>
                <div layout="row" layout-align="start center">
                    <span flex>Salesmen</span>
                    <span flex>Pending Orders</span>
                    <span flex>Status</span>
                    <md-button class="md-fab md-primary md-fab-top-right" style="margin:-20px" aria-label="Add"
                               ng-click="addSalesman($event)">
                        <ng-md-icon icon="add"></ng-md-icon>
                    </md-button>
                </div>
            </md-subheader>
            <md-list layout-padding>
                <!-- <md-list-item class="md-3-line" ng-repeat="item in messages"> -->
                <md-list-item class="md-3-line" ng-repeat="salesman in salesmen">
                    <div class="md-list-item-text" layout="row" layout-align="center center">
                        <div flex>
                            <h3>{{salesman.name}}</h3>
                            <p>{{salesman.email}}</p>
                        </div>
                        <p flex>{{pendingOrders}}</p>
                        <div flex>
                            <ng-md-icon icon="check_circle" ng-show="salesman.login" style="fill: green"></ng-md-icon>
                            <ng-md-icon icon="remove_circle" ng-show="!salesman.login" style="fill: red"></ng-md-icon>
                        </div>

                        <md-button class="md-icon-button" ng-click="salesmanProfile(salesman, $index)">
                            <ng-md-icon icon="visibility" size="30"
                                        style="fill:#b3b3b3;padding-top:0;margin-top:0"></ng-md-icon>
                        </md-button>
                    </div>
                    <md-divider ng-if="!$last"></md-divider>
                </md-list-item>
            </md-list>
        </section>
    </md-content>
</div>

<script id="templates/addSalesman.html" type="text/ng-template">
    <md-dialog aria-label="Mango (Friut)">
        <md-content class="md-padding">
            <form name="salesmanForm">
                <md-input-container class="md-block">
                    <label>Name</label>
                    <input ng-model="salesman.name">
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Email</label>
                    <input ng-model="salesman.email">
                </md-input-container>
                <md-input-container class="md-block">
                    <label>contact</label>
                    <input ng-model="salesman.contact">
                </md-input-container>
            </form>
        </md-content>
        <div class="md-actions" layout="row" class="md-block">
            <span flex></span>
            <md-button ng-click="cancel()"> Cancel</md-button>
            <md-button ng-click="create()" class="md-primary"> Save</md-button>
        </div>
    </md-dialog>'
</script>