<!-- dashboard start -->
<div>
    <h1>{{companyName}}</h1>
    <div class='md-padding' layout="row" layout-wrap>
        <md-card style="width: 300px;">
            <!-- <img src="http://placehold.it/150x150" class="md-card-image" alt="user avatar"> -->
            <ng-md-icon icon="shopping_cart" style="fill: pink" size="100" class="md-card-image"></ng-md-icon>
            <br>
            <md-card-content>
                <h2>Orders</h2>
                <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p> -->
            </md-card-content>
            <div class="md-actions">
                <md-button ng-click="viewOrders()">View</md-button>
            </div>
        </md-card>
        <md-card style="width: 300px;">
            <!-- <img src="http://placehold.it/150x150" class="md-card-image" alt="user avatar"> -->
            <ng-md-icon icon="star" style="fill: pink" size="100" class="md-card-image"></ng-md-icon>
            <br>
            <md-card-content>
                <h2>Products</h2>
                <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p> -->
            </md-card-content>
            <div class="md-actions">

                <md-button ng-click="viewProducts()">View</md-button>
            </div>
        </md-card>
        <md-card style="width: 300px;">
            <!-- <img src="http://placehold.it/150x150" class="md-card-image" alt="user avatar"> -->
            <ng-md-icon icon="recent_actors" style="fill: pink" size="100" class="md-card-image"></ng-md-icon>
            <br>
            <md-card-content>
                <h2>Salesmen</h2>
                <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p> -->
            </md-card-content>
            <div class="md-actions">

                <md-button ng-click="viewSalesmen()">View</md-button>
            </div>
        </md-card>
    </div>
</div>
</div>
</div>