<div layout="row" layout-sm="column" layout-align="center center" layout-wrap>
    <div layout="column" ng-cloak>
        <md-content layout-padding>
            <form name="forgotPassForm" ng-submit="sendEmail()">
                <md-input-container class="md-block">
                    <label>Email</label>
                    <input required type="email" name="email" ng-model="forgotPass.email" ng-pattern="/^.+@.+\..+$/"/>
                    <div ng-messages="forgotPassForm.email.$error" role="alert"
                         ng-show="forgotPassForm.email.$touched || forgotPassForm.email.$dirty">
                        <div ng-message="required">Email is required.</div>
                        <div ng-message="pattern">
                            Your email must look like an e-mail address.
                        </div>
                    </div>
                </md-input-container>
                <md-button class="md-raised md-primary" type="submit">Send email</md-button>
            </form>
        </md-content>
    </div>
</div>