<div class='md-padding' layout="row" layout-align="start center" layout-wrap>
    <md-card flex="30">
        <img src="http://placehold.it/150x150" class="md-card-image" alt="user avatar">
        <md-card-content>
            <h3>{{salesman.name}}</h3>
            <h4>Retailers :
                <span>{{salesmanRetailers.length}}</span>
            </h4>
            <h4>Pending Orders :
                <span>{{pendingOrders}}</span>
            </h4>
        </md-card-content>
        <!-- <div class="md-actions" layout="row" layout-align="end center">
          <md-button>Save</md-button>
          <md-button ng-click="viewOrders()">View</md-button>
        </div> -->
    </md-card>
    <div flex style="height: 600px;">
        <md-content>
            <section>
                <md-subheader class="md-primary">Retailers</md-subheader>
                <md-card ng-repeat="retailer in salesmanRetailers track by $index">
                    <md-card-content>
                        <h3>{{retailer.name}}</h3>
                        <p>{{retailer.address}}</p>
                        <!-- <md-button class="md-secondary" ng-click="action(order)">Action</md-button> -->
                        <!-- <md-divider ng-if="!$last"></md-divider> -->
                    </md-card-content>
                </md-card>
                <section>
        </md-content>
    </div>
</div>        